.logout-button {
    display: flex;
    align-items: center;
    width: 40px;
    border: none;
    background-color: transparent;
    color: white;
}

.logout-button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.logout-button svg {
    height: 100%;
}
