@value background-dark from '#/components/common.css';
@value background-dark-hover from '#/components/common.css';

.tile {
    transition: background-color 0.3s;
    background-color: background-dark;
    border-radius: 10px;
}

.tile a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    padding: 15px;
    gap: 10px;

    text-decoration: none;
    color: white;
}

.tile:hover {
    cursor: pointer;
    background-color: background-dark-hover;
}

.tile h3 {
    text-align: center;
}
