@value background from '../common.css';

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: background;
    overflow: auto;
    color: white;
}

.main {
    height: min-content;
    width: 100%;
    max-width: 1200px;
    padding: 30px 20px;
    border-top: 1px solid #181b21;
}