@value background from '#/components/common.css';
@value background-light from '#/components/common.css';

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(200px, 10vw, 300px));
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 30px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.sub-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    transition: background-color 0.3s;
}

.sub-toolbar button {
    height: 30px;
    padding: 0 10px;
    outline: none;
    border: none;
    background-color: white;
    color: background;
    transition: background-color 0.3s;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sub-toolbar button:hover {
    cursor: pointer;
    background-color: background-light;
}

.sub-toolbar select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
        linear-gradient(45deg, transparent 50%, background 50%),
        linear-gradient(135deg, background 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(0.75em),
        calc(100% - 15px) calc(0.75em),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;

    padding: 0 8px;
    height: 30px;
    width: 100px;
    outline: none;
    border: none;
    transition: background-color 0.3s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sub-toolbar select[data-type='size'] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sub-toolbar select:hover {
    cursor: pointer;
    background-color: background-light;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
}



@media (max-width: 700px) {
    .toolbar {
        justify-content: center;
    }
}
