@value background from '../common.css';
@value background-dark from '../common.css';
@value background-light from '../common.css';
@value primary from '../common.css';

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: background;
}

.paper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    background: background-dark;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.paper h2 {
    padding: 0 0 30px;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form label {
    color: white;
}

.form input {
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    color: rgba(0,0,0,.6);
    outline: none;
    transition: background-color 0.3s;
}

.form input:hover {
    background-color: background-light;
}

.form a {
    color: primary;
    text-align: center;
    transition: color .5s;
}

.form a:hover {
    color: white;
}