@value primary from '#/components/common.css';

.primary-button {
    display: inline-block;
    padding: 10px 20px;
    color: primary;
    border: 1px solid primary;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: background-color .5s, color .5s;
    letter-spacing: 4px;
    background: transparent;
}

.primary-button:hover {
    background-color: primary;
    color: white;
    cursor: pointer;
}